<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.opendatakit.survey" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- this is defined in org.opendatakit.services -->
    <uses-permission android:name="org.opendatakit.webkitserver.RUN_WEBSERVER" />

    <!-- this is defined in org.opendatakit.services -->
    <uses-permission android:name="org.opendatakit.database.RUN_DATABASE" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
	
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="org.opendatakit.survey.application.Survey"
        android:icon="@drawable/snotes"
      	android:logo="@drawable/odk_logo"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:largeHeap="true"
        android:installLocation="auto"
        android:hardwareAccelerated="true"
    	android:theme="@style/Opendatakit" >

        <activity
            android:name="org.opendatakit.survey.activities.MainMenuActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="org.opendatakit.survey.activities.SignatureActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="org.opendatakit.survey.activities.DrawActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="org.opendatakit.survey.activities.MediaCaptureImageActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="org.opendatakit.survey.activities.MediaChooseImageActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="org.opendatakit.survey.activities.MediaDeleteImageActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name="org.opendatakit.survey.activities.MediaCaptureAudioActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="org.opendatakit.survey.activities.MediaChooseAudioActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="org.opendatakit.survey.activities.MediaDeleteAudioActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name="org.opendatakit.survey.activities.MediaCaptureVideoActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="org.opendatakit.survey.activities.MediaChooseVideoActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="org.opendatakit.survey.activities.MediaDeleteVideoActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name="org.opendatakit.survey.activities.GeoPointActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name="org.opendatakit.survey.activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.opendatakit.form" />
                <data android:mimeType="vnd.android.cursor.item/vnd.opendatakit.form" />
                <data android:mimeType="vnd.android.cursor.item/vnd.opendatakit.instance" />
            </intent-filter>
        </activity>
        <!-- Enable Shortcuts for Command Actions -->
        <activity
            android:name="org.opendatakit.survey.activities.AndroidShortcuts"
            android:label="@string/shortcut_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBBdNVHO1BUmWpFp1LxOUwZEMaWd3gsqxw"/>
        
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
    </application>
</manifest>